<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require polymer/polymer
 *= require polymer-drawer-panel/core-drawer-panel
 *= require polymer-core-menu/core-menu
 *= require polymer-core-item/core-item
 *= require polymer-core-icon-button/core-icon-button
 *= require polymer-core-toolbar/core-toolbar
 *= require polymer-core-header-panel/core-header-panel
 *= require polymer-paper-button/paper-button
 *= require_tree .
-->
