:host {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;   
}

#core_drawer_panel {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#section {
  box-shadow: rgba(0,0,0,0.0980392) 0px 2px 4px, rgba(0,0,0,0.0980392) 0px 0px 3px;
  background-color: rgb(250, 250, 250);
}

#section1 {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
}

#core_menu {
  font-size: 16px;
  left: 32px;
  top: 12px;
  position: absolute;
}

#core_header_panel {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

#core_toolbar {
  color: rgb(255, 255, 255);
  background-color: rgb(79, 125, 201);
}

#section2 {
  height: 1000px;
  background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
}

#paper_button {
  left: 22px;
  top: 10px;
  position: absolute;
}

#paper_button1 {
  left: 132px;
  top: 10px;
  position: absolute;
}